<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MavenLearningProject">

	<listeners>
	<listener class-name = "com.learningmavenproject.utilities.Reporting"/>
	</listeners>

	<test name="MavenLearning Test">
		<parameter name="browser" value="chrome" />
		<classes>
		<!-- 	<class name = "com.learningmavenproject.testCases.TC_LogInTest_001"/> -->
			<class name = "com.learningmavenproject.testCases.TC_LoginDDT2_002"/>
		</classes>

	</test>

</suite>